/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: left;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.profile_img {
    max-width: 10vw;
}

header {
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
    color: #333;
}

.subtitle {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0 0;
}

#about-me p {
    font-size: 1.2em;
    margin: 10px 0;
}

#about-me a {
    color: #0073e6;
    text-decoration: none;
}

#about-me a:hover {
    text-decoration: underline;
}

#recent-news h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

#recent-news ul {
    list-style: none;
    padding: 0;
}

#recent-news ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 30px;
}

/* Links Styling */
a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}